.videoGridContainer{
    display:flex;
    // flex: 1 100% ;
    align-content:center;
    justify-content:center;
    height:100%;
    width:100%;
    flex-flow: row;
    iframe{
        margin:10px
    }
    .playerContainer{
        height: 100%;
        width: 100%;
        display: flex;
        background-color: green;
        border: 1px solid black
    }
}