.HomePageRoot{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    .HomePageHeader{
        position: absolute;
        top:15vh;
        color:white;
    }
}