@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');
.LoginRoot{
    display: flex;
    flex-direction: column;
    .accountChangeMode{
        color:blue;
        cursor: pointer;
    }
    form{
        .formRow{
            display: flex;
            flex-direction: column;
            margin:15px;
        }
    }
    .errorSpan{
        color:red
    }
}